@import "base";

.backdrop
{
    @include view-m-zindex(backdrop);
    background-color: rgba(0,0,0,0.3);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: auto;
    filter: blur(2px);
}

