@import "variables";
@import "mixins";
@import "animation";


//---------------------------全局样式---------------------------//

html, body
{
    height: 100%;
    background-color: $page-background;
}

// fix fastclick bug: https://github.com/ftlabs/fastclick/issues/60
label > *
{
    pointer-events: none;
}

h3
{
    color: lighten($text-color, 10%);
    border: 1px solid darken($text-color, 5%);
}

ul, ol
{
    list-style: none;
}

input::-ms-clear, input::-ms-reveal
{
    display: none;
}

a
{
    color: $link-color;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color $transition-time ease;

    &:hover
    {
        color: $link-hover-color;
    }

    &:active
    {
        color: $link-active-color;
    }

    &:active, &:hover
    {
        outline: 0;
        text-decoration: none;
    }

    &[disabled]
    {
        color: #ccc;
        cursor: $cursor-disabled;
        pointer-events: none;
    }

}

code, kbd, pre, samp
{
    font-family: $code-family;
}

//---------------------------基础样式---------------------------//

//文本对齐 .text-center, .text-left, .text-right
@include view-m-text-align();
//浮动位置 .float-left, .float-right
@include view-m-object-float();
//前景颜色 .#{$key}-fg
@include view-m-base-fg-color();
//背景颜色 .#{$key}-bg
@include view-m-base-bg-color();
//主题-前景颜色 &.#{$key}-fg
//@include view-m-theme-fg-color();
//主题-背景颜色  &.#{$key}-bg
//@include view-m-theme-bg-color();
//内边距 .padding-#{$i * 5}
@include view-m-padding();
//外边距 .margin-#{$i * 5}
@include view-m-margin();

//---------------------------Other---------------------------//


// Safari input placeholder margin issue
// grade-a ios,grade-b android
.grade-a input::-webkit-input-placeholder
{
    line-height: 20px;
}


// 按钮 button
.button
{
    min-height: 44px;
    &.button-small
    {
        min-height: 30px;
    }
}


// 分割线 liner
.liner-top:before
{
    @include view-m-liner(top);
}
.liner-bottom:after
{
    @include view-m-liner(bottom);
}
.liner-left:before
{
    @include view-m-liner(left);
}
.liner-right:after
{
    @include view-m-liner(right);
}


//
/*宽高相等*/
.m-render-image-1-1:before
{
    content: " ";
    display: inline-block;
    padding-bottom: 100%;
    vertical-align: middle;
    width: 0;
    height: 0;
    line-height: 0;
    float: left;
}

/*宽高1:1*/
.render-image-1-1
{
    width:100%;
    height:0;
    line-height: 0;
    padding-bottom: 100%;
    overflow:hidden;
    background: no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}


//---------------------------Comment---------------------------//
