@import "base";

$border-radius: 5px;

.view-buttonbar.button-bar
{
    margin: 10px 0;

    .button-small
    {
        font-size: 12px;
        line-height: 28px;
    }

    >.button:first-child
    {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    >.button:last-child
    {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &.buttonbar-tabs
    {
        .view-button.button
        {
            border-radius: $border-radius $border-radius 0 0;
            border-bottom-width: 0;
            border-right-width: 1px;
            margin-right: 1px;
        }

        .view-button.button:last-child
        {
            margin-right: 0;
        }
    }

}
