@import "base";

@mixin button-border($border-color)
{
    &.button-outline
    {
        border-color: $border-color;

        &.button-full
        {
            border-left-width: 1px;
            border-right-width: 1px;
        }
    }

}

@mixin button-fg($fg-color)
{

    &:not(.button-clear):not(.button-outline)
    {
        color: $fg-color;
    }

}

@mixin button-style($bg-color, $fg-color: $light-color)
{
    @include button-border($bg-color);

    &:not(.button-clear):not(.button-outline)
    {
        color: darken($fg-color, 10%);
        background-color: $bg-color;
    }

    &.button-clear,
    &.button-outline
    {
        color: $bg-color;
    }

    &:active:not(.button-material)
    {
        background-color: darken($bg-color, 10%);

        &.button-clear
        {
            //background-color: transparent;
            color: darken($fg-color, 10%);
        }
    }
}



.view-button
{
    @include view-m-theme-fg-color();
    @include view-m-theme-bg-color();

    &.button.fa
    {
        line-height: 42px;
        font-size: 16px;
    }

    &.button.button-small.fa
    {
        line-height: 26px;
        font-size: 12px;
    }

    // Fab Button
    &.button-fab
    {
        min-width: 44px !important;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    // MeterialDesign Button
    &.button-material
    {
        position: relative;
        overflow: hidden;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }


    &.button-clear
    {
        background: none;
    }

    &.button-outline
    {
        background: transparent;
    }

    &.light-bg
    {
        @include button-style($light-color, $dark-color);
    }
    &.stable-bg
    {
        @include button-style($stable-color, $royal-color);
    }
    &.positive-bg
    {
        @include button-style($positive-color, $light-color);
    }
    &.calm-bg
    {
        @include button-style($calm-color, $light-color);
    }
    &.balanced-bg
    {
        @include button-style($balanced-color, $light-color);
    }
    &.energized-bg
    {
        @include button-style($energized-color, $light-color);
    }
    &.assertive-bg
    {
        @include button-style($assertive-color, $light-color);
    }
    &.royal-bg
    {
        @include button-style($royal-color, $stable-color);
    }
    &.dark-bg
    {
        @include button-style($dark-color, $light-color);
    }


    &.light-fg
    {
        @include button-fg($light-color);
        @include button-border($light-color);
    }
    &.stable-fg
    {
        @include button-fg($stable-color);
        @include button-border($stable-color);
    }
    &.positive-fg
    {
        @include button-fg($positive-color);
        @include button-border($positive-color);
    }
    &.calm-fg
    {
        @include button-fg($calm-color);
        @include button-border($calm-color);
    }
    &.balanced-fg
    {
        @include button-fg($balanced-color);
        @include button-border($balanced-color);
    }
    &.energized-fg
    {
        @include button-fg($energized-color);
        @include button-border($energized-color);
    }
    &.assertive-fg
    {
        @include button-fg($assertive-color);
        @include button-border($assertive-color);
    }
    &.royal-fg
    {
        @include button-fg($royal-color);
        @include button-border($royal-color);
    }
    &.dark-fg
    {
        @include button-fg($dark-color);
        @include button-border($dark-color);
    }


}











.ripple-container
{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(#ffffff, 0.4);
    min-width: 20px;
    min-height: 20px;
    opacity: 0;
}
.ripple-animation
{
    animation: ripple 2s;
    -webkit-animation: ripple 2s;
}


@keyframes ripple
{
    0% {
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}
@-webkit-keyframes ripple
{
    0% {
        -webkit-transform: scale(1);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(20);
        opacity: 0;
    }
}
