@import "base";


.view-check-list
{
    .view-check-title
    {

    }

    .view-check-item.item.item-checkbox
    {
        //padding-bottom: 5px;
        //padding-top: 5px;

        .view-check-label.checkbox
        {
            //margin-right: 80px;
            width: calc(100% - 80px);

            input[type='checkbox'].view-check
            {

            }
        }

        .row, .col
        {
            padding: 0;
        }


        .view-check-name
        {
            font-size: 14px;
            color: $dimgray-color;
        }

        .view-check-desc
        {
            font-size: 12px;
            color: $darkgray-color;
        }

    }
}

