@import "base";


.view-check-list
{
    .view-check-title
    {

    }

    .view-check-item.item.item-checkbox
    {
        //padding-bottom: 5px;
        //padding-top: 5px;

        .view-check-label.checkbox
        {
            margin-right: 40px;

            input[type='checkbox'].view-check
            {

            }
        }

        .view-check-image
        {
            float: left;
            img
            {
                width: 60px;
                height: 45px;
                padding: 5px;
            }
        }

        .view-check-name
        {

        }

        .view-check-desc
        {
            //padding-left: 5px;
            margin-top: 5px;

            span
            {
                font-size: 12px;
                color: $darkgray-color;
            }
        }

    }
}

