@import "base";

.view-input-wrapper
{
    position: relative;

    &.has-floating-label
    {
        .input-clear
        {
            top: 14px + 28px;
        }
    }

    .item-input-wrapper
    {
        border-radius: 0;
        background-color: transparent;
    }

    .view-button.button.button-small
    {
        padding-left: 0;
        padding-right: 0;
        min-width: 70px;
    }


    .input-clear
    {
        position: absolute;
        top: 14px;
        right: 9px;
        z-index: 3;

        width: 24px;
        height: 24px;
        background-image: url(../assets/clear@3x.png);
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 5px 5px;

        visibility: hidden;
        &.active
        {
            visibility: visible;
        }
    }

    .view-input-item
    {

        &.item
        {
            padding-top: 0;
            padding-bottom: 0;
        }

        .view-input-label
        {
            font-size: 14px;
            line-height: 20px;
        }

        .view-input
        {
            @include view-m-theme-fg-color();
            @include view-m-theme-bg-color();

            height: 50px;
            padding: 13px 15px;
            //position: relative;
        }



        input
        {
            font-size: 14px;
        }

        input[type='text'],
        input[type='password']
        {

        }
        input[type='button'],
        input[type='reset'],
        input[type='submit']
        {

        }
        textarea
        {
            min-height: 80px;
        }

        input[type='tel'],
        input[type='url'],
        input[type='email'],
        input[type='number']
        {

        }

        input[type='date'],
        input[type='time'],
        input[type='color']
        {

        }

    }
}

.input-label
{
    width: 30%;
}

//fixed ionic error
.item-input textarea
{
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding-right: 24px;
    background-color: transparent;
}

