@import "variables";

//圆角
@mixin border-radius($values)
{
    -webkit-border-radius: $values;
    -moz-border-radius: $values;
    border-radius: $values;
}

//3D文本
@mixin text3d($color)
{
    color: $color;
    text-shadow: 1px 1px 0px darken($color, 5%),
        2px 2px 0px darken($color, 10%),
        3px 3px 0px darken($color, 15%),
        4px 4px 0px darken($color, 20%),
        4px 4px 2px #000;
}

//错误提示
@mixin error($border-width: 2px)
{
    border: $border-width solid $_assertive;
    color: $_assertive;
}



