@import "base";

.page
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $page-background;
    overflow: hidden;


    &.has-navbar
    {
        .page-content
        {
            padding-top: $navbar-height;
        }

        &.padding-top
        {
            padding-top: $navbar-height + $padding-base;
        }
    }

    &.has-tabbar
    {
        .page-content
        {
            margin-bottom: $tabbar-height;
        }

        &.padding-bottom
        {
            padding-bottom: $padding-base;
        }
    }

}

/* page content */
.page .page-content,
.modal .page-content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
    background-color: $page-background;
    -webkit-overflow-scrolling: touch;

    &.no-scrolling
    {
        -webkit-overflow-scrolling: auto;
    }

    &.padding-top
    {
        padding-top: $navbar-height + $padding-base;
    }

    &.padding-bottom
    {
        padding-bottom: $padding-base;
    }
}

.modal .page-content
{
    padding-top: 44px;
}
