@import "base";

.view-panel
{

    &.panel-outer
    {
        margin: 10px;
        @include view-m-border-radius(5px);
    }

    &.panel-inset
    {

    }

    &.panel-card
    {
        margin: 10px;
        @include view-m-box-shadow(0 0 3px rgba(0,0,0,.3));
        @include view-m-border-radius(5px);
    }

    &.panel-paddingless
    {
        padding: 0;
    }


}

