@import "base";


.view-radio-list
{
    .view-radio-title
    {

    }

    .view-radio-item
    {

        .view-radio
        {

        }

        input[type='radio']
        {

        }

        .view-radio-label
        {

        }

        .view-radio-indicator
        {

        }

    }
}

