@import "base";



.view-regionpicker
{
    //padding-left: 16px;
    background: #FFF;

    &.view-item
    {

        &.item
        {
            padding-top: 0;
            padding-bottom: 0;
        }

        .input-label
        {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .row, .col
    {
        padding: 0;
        margin: 0;
    }

    .col
    {
        padding-right: 2px;
    }

}
