@import "base";


.view-select-item
{

    .view-select-label
    {

    }

    .view-select
    {

        &.view-select-multipile
        {
            height: 100%;
            min-height: 50px;
            min-width: 120px;
        }


    }

}
