@import "base";

.view-tabbar
{

    &.tabs
    {
        height: $tabbar-height;
        vertical-align: middle;

        @include view-m-theme-fg-color();

        .tab-item
        {
            .icon.fa
            {
                margin: 2px 0;
                height: 30px;
                font-size: 30px;
            }
        }

    }

}
