@import "base";

.view-tabbar
{

    &.tabs
    {
        height: $tabbar-height;
        vertical-align: middle;

        @include view-m-theme-fg-color();

        .tab-item
        {
            .icon.fa
            {
                margin: 2px 0;
                height: 30px;
                font-size: 30px;
            }
        }

        //TODO: 颜色反转

        /*.tabs
        {
            padding-top: 1px;
        }

        .tab-item.active, .tab-item.tab-item-active
        {
            background-color: deepskyblue;
            color: white;
        }*/

    }

}
