@import "base";


.view-toggle-item
{

    .view-toggle-label
    {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: $dimgray-color;
    }

    .view-toggle
    {

    }

    input[type='checkbox']
    {

    }

}
