@import "base";


.view-upload-wrapper
{

    @include view-m-theme-fg-color();
    @include view-m-theme-bg-color();

    .view-upload
    {
        input[type="file"]
        {
            display: none;
        }

        label.view-upload-label
        {
            display: block;
            /*display: inline-block;
            position: relative;*/
        }
    }

    .view-upload-preview
    {
        width: 64px;
        height: 64px;
        border-radius: 15%;
    }


    .view-upload-files
    {

        .row
        {
            padding: 0;

            .view-upload-grid-file
            {
                width: 100%;

                &.col
                {
                    padding: 5px;
                }

                .image-holder-delete
                {
                    position: relative;
                    left: 5px;
                    top: 25px;
                    height: 20px;
                    width: 20px;
                }

                .image-holder
                {
                    padding: 5px;
                    border-radius: 5px;
                    display: flex;
                    color: $dimgray-color;
                    @include view-m-box-shadow(0 0 5px rgba(0,0,0,.3));

                    .image-holder-info
                    {
                        position: absolute;
                        bottom: 30px;
                        height: 15px;
                        float: right;
                        opacity: 0.4;
                    }
                }

                &.view-upload-file-1
                {
                    .image-holder
                    {
                        width: 30vw; /* viewport 的33% */
                        height: 30vw;
                    }
                }
                &.view-upload-file-2
                {
                    .image-holder
                    {
                        width: 30vw; /* viewport 的33% */
                        height: 30vw;
                    }
                }
                &.view-upload-file-3
                {
                    .image-holder
                    {
                        width: 28vw; /* viewport 的33% */
                        height: 28vw;
                    }
                }
                &.view-upload-file-4
                {
                    .image-holder
                    {
                        width: 20vw; /* viewport 的25% */
                        height: 20vw;
                    }
                }
                &.view-upload-file-5
                {
                    .image-holder
                    {
                        width: 16vw; /* viewport 的20% */
                        height: 16vw;
                    }
                }


                &.view-upload-list-file-finish
                {

                }

            }
        }



        .view-upload-list-file
        {
            padding: 2px 0;

            &.view-upload-list-file-finish
            {

            }

            div.view-upload-file-label
            {
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;

                span
                {
                    //max-width: 120px;
                }
            }
        }

    }
}

.item.item-input
{
    .view-upload-wrapper
    {
        //width: 100%;
        padding: 13px 15px;
    }
}


